@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Special+Elite&display=swap');

body{

    min-width: 300px;  
    max-width: 1600px;  
    
    min-height: 600px;
    max-height: 775px;
    background-color: rgb(51, 51, 51);
    background-image: url(img/cryptography.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*background-image: linear-gradient(to top,black, #2E000F, #450703,#6F0703);*/
.titulo{
    
    display: flex;
    justify-content: center;
  
    font-family: Abril Fatface, "sans serif";
    font-size: 30px;

    color: white;
    text-shadow: 5px, 5px, 5px 5px, red;
    letter-spacing: 5px;

    

}

.caixas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    
    
    
}

.caixaCript{

    margin: 0px;
    border: 2px solid rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    padding: 20px;

    width: 500px;
    height: 500px;
    
    background-color: rgba(19, 17, 17, 0.856);
    margin: 0px 0px 0px ;
}

.inputs{
    padding: 0px;
    width: 496px;
    height: 200px;
    border-radius: 10px;
    
    font-size: 30px;

}

.inputs::placeholder{

     text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-weight: bold;

    font-family: sans-serif;
    font-size: 30px;
    
}
form{
    display: flex;
    flex-direction: column
    

}


form > .button{
    
    height: 60px;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.788);
    font-size: 20px;
}

.button:hover{
    display: block;
    color: white;
    background-color: #080607ce;
    
}
label{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: monospace;
    margin: 10px 10px 15px 10px;

}

footer{
    background-color: black;
    color: white;
    
    margin: 93px -8px 8px -8px;
    padding: 10px 0px 0px 0px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
}




